doctype html
html(lang="en", xmlns="http://www.w3.org/1999/xhtml", xmlns:og="http://ogp.me/ns#", xmlns:fb="http://www.facebook.com/2008/fbml")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title Omega
    body
        div
            ol
                li 5630122113001 - Manit Promsawat
                li 5630122113018 - Chindanai Titametin
                li 5630122113019 - Chuleeporn Desanthia
                li 5630122113021 - Pradabporn Wannaprapa