doctype html
html(lang="en", xmlns="http://www.w3.org/1999/xhtml", xmlns:og="http://ogp.me/ns#", xmlns:fb="http://www.facebook.com/2008/fbml")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title Teamwork in Web Development.
    body
        div(align="center")
            h1 Teamwork in Web Development.
        div
            ol
                li
                    a(href="team/{Team name with lowercase}.html") {Team name with uppercase the first character} ({Count of team member})